<h1>Word's Up</h1>
<p>Let's test your memory by creating <span class="title-span">flashcards</span><br> with the <span class="title-span">new words</span> you learned today</p>
<!-- link to add a new flashcard
link to play flashcards -->
