// Specific CSS for your home-page
body {
  background: url(https://cdn.dribbble.com/users/3607983/screenshots/10945725/media/e67f51805301bb234ef8047de3cfb5f0.png?compress=1&resize=1600x1200);
  text-align: center;
}

h1 {
  font-size: 80px;
  color:white;
  font-weight: lighter;
}

p {
  line-height: 1.6;
  font-size: 20px;
}

.title-span {
  color: #000;
  font-weight: 300;
  font-weight: bold;
  border-bottom: 2px solid white;
}

.table {
  text-align: center;
}

.title-answer {
  color:#D6494C;
  font-weight: bold;
}

.invalid-feedback {
  color: black;
}
